@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #45dfb1;
  --secondary-color: #149198;
  --secondary-color-light: #086477;
  --text-light: #dbdbdb;
  --white: #ffffff;
  --black: #213a57;
  --max-width: 1200px;
  --gradient: linear-gradient(to right, #1a2980, #26d0ce);

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  font-size: 2.5rem;
  font-weight: 600;
}


.section_subheader {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-left: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}

/*remove or not remove*/
.section_subheader::after {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  aspect-ratio: 3;
  background-color: var(--primary-color);
  z-index: -1;
  border-radius: 10px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1rem;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.btn_secondary {
  background-color: transparent;
  border: 1px solid var(--white);
}

.btn_primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn span {
  font-size: 1.2rem;
  transition: 0.3s;
}

.btn:hover span {
  transform: translateX(5px);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("assets/Header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  padding: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color);
}

.nav_menu_btn {
  display: none;
  font-size: 1.5rem;
}

.header_container {
  padding-block: 5rem 12rem;
}

.header_container h1 {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.header_container .btn {
  margin: auto;
}

.about {
  background-color: var(--secondary-color);
}

.about_container {
  padding-block: 0;
}

.about_grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 4rem;
  align-items: center;
  background-color: var(--secondary-color-light);
  transform: translateY(-5rem);
  border-radius: 10px;
}

.about_content .section_header {
  margin-bottom: 1rem;
}

.about_content .para {
  color: var(--text-light);
}

.about_list {
  display: grid;
  gap: 2rem;
}

.about_item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.about_item span {
  padding: 13px 20px;
  font-size: 1.75rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.about_item h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.stats {
  background-color: var(--black);
}

.stats_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.stats_content .section_header {
  margin-bottom: 1rem;
}

.stats_content .para {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.stats_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.stats_card span {
  font-size: 1.75rem;
  color: var(--primary-color);
}

.stats_card h4 {
  font-size: 2rem;
  font-weight: 700;
}

.stats_card p {
  font-weight: 500;
}

.stats_image {
  display: grid;
  gap: 2rem;
}

.stats_image img {
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
}

.banner {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("assets/pexels-artempodrez-5716037.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_content {
  max-width: 800px;
}

.banner_content .section_header {
  margin-bottom: 1rem;
}

.banner_content .para {
  max-width: 600px;
  margin-bottom: 2rem;
}

.banner_btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.blog {
  background-color: var(--secondary-color);
}

.blog_grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog_card img {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.blog_card > div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blog_card div span {
  font-size: 0.9rem;
  color: var(--text-light);
}

.blog_card div span i {
  margin-right: 5px;
  font-size: 1rem;
  color: var(--primary-color);
}

.blog_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog_card p {
  color: var(--text-light);
}


.customer {
  background-color: var(--secondary-color-light);
}

.customer_container .para {
  margin-block: 1rem 4rem;
  color: var(--text-light);
}

.swiper {
  width: 100%;
  padding-bottom: 4rem;
}

.customer_review .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.customer_review_card {
  position: relative;
  isolation: isolate;
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.customer_review_card span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6rem;
  line-height: 4rem;
  color: var(--primary-color);
  opacity: 0.1;
}

.customer_review_card p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.customer_review_details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.customer_review_details img {
  max-width: 70px;
  border-radius: 100%;
}

.customer_review_details h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.customer_review_details h5 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
}

.footer {
  background-color: var(--black);
}

.footer_container {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  gap: 2rem;
}

.footer_col h5 a {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.footer_col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer_socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--primary-color);
  background-color: var(--secondary-color-light);
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.footer_socials a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.footer_col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer_links a {
  margin-bottom: 1rem;
  display: flex;
  color: var(--text-light);
  transition: 0.3s;
}

.footer_links a:hover {
  color: var(--primary-color);
}

.footer_bar {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-light);
}

@media (width < 900px) {
  .nav_links {
    gap: 1.5rem;
  }

  .about_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .stats_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .stats_image {
    grid-area: 1/1/2/2;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .blog_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .footer_container {
    grid-template-columns: 2fr 1fr;
  }
}

@media (width < 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--black);
    z-index: 99;
  }

  .nav_links {
    position: absolute;
    left: 0;
    top: 68px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav_links .link a {
    opacity: 0;
  }

  .nav_links.open .link a {
    opacity: 1;
  }

  .nav_links.open {
    transform: scaleY(1);
  }

  .nav_menu_btn {
    display: block;
  }

  .header_container h1 {
    margin-top: 4rem;
    font-size: 3.5rem;
  }

  .stats_image {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog_grid {
    grid-template-columns: repeat(1, 1fr);
  }

}
/*map*/
.heading, h4{
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color: var(--primary-color);
  position: relative;
  letter-spacing: .2rem;
}

.heading::before, h4::before{
  top: 5.8rem;
  left: -2rem;
}

.heading::after, h4::after{
  bottom: -.5rem;
  right: -2rem;
  transform: rotate(180deg);
}

.contact{
  text-align: center;
  align-items: center;
}

.contact .heading{
  margin-bottom: 5rem;
}

.contact-in{
  width: 80%;
  height: auto;
  margin: auto auto 5rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact-map{
  width: 100%;
  height: auto;
  flex: 50%;
}

.contact-map iframe{
  width: 100%;
  height: 100%;
}

.contact-form{
  width: 100%;
  height: auto;
  flex: 50%;
  text-align: left;
}

.contact-form-txt{
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}

.contact-form-email{
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
  
.contact-form-txt::placeholder{
  color: #aaa;
  font-size: 1.5rem;
}

.contact-form-email::placeholder{
  color: #aaa;
  font-size: 1.5rem;
}
  
.contact-form-txtarea{
  margin-left: 2rem;
  width: 95%;
  height: 130px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}

.contact-form-txtarea::placeholder{
  color: #aaa;
  font-size: 1.rem;
}

.contact-form-btn{
  margin-left: 2rem;
  outline: none;
  border: none;
  border-radius: 5rem;
  background: white;
  border-style: groove;
  border-color: #002e5f;
  font-size: 1.5rem;
  cursor: pointer;
  height: 3.5rem;
  width: 15rem;
  box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
      
.contact-form-btn:hover{
  letter-spacing: .1rem;
  opacity: .9;
  color: white;
  background: #002e5f;
}
  
.contact-form-phone{
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
  
.contact-form-phone::placeholder{
  color: #aaa;
  font-size: 1.5rem;
}

@media (max-width: 1000px){
  html{
   font-size: 50%;
  }
  
  .contact{
    text-align: center;
    align-items: center;
  }
  
  .contact .heading{
    margin-bottom: 3rem;
    margin-top: -2rem;
  }

  .contact-in{
    width: 80%;
    height: auto;
    margin: auto auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
  }

  .contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
  }

  .contact-map iframe{
    width: 100%;
    height: 100%;
  }

  .contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: left;
  }

  .contact-form-txt{
    width: 90%;
    height: 20px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
  }
      
  .contact-form-email{
    margin-left: 2rem;
    width: 90%;
    height: 20px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
  }

  .contact-form-txt::placeholder{
    color: #aaa;
    font-size: 1.5rem;
  }
      
  .contact-form-email::placeholdeR{
    color: #aaa;
    font-size: 1.5rem;
  }

  .contact-form-txtarea{
    margin-left: 2rem;
    width: 90%;
    height: 110px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
  }

  .contact-form-txtarea::placeholder{
    color: #aaa;
    font-size: 1.5rem;
  }

  .contact-form-btn{
   margin-left: 2rem;
   outline: none;
   border: none;
   border-radius: 5rem;
   background: white;
   border-style: groove;
   border-color: var(--secondary-color-light);
   font-size: 1.5rem;
   cursor: pointer;
   height: 3.5rem;
   width: 12rem;
   box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
  }
      
  .contact-form-btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: var(--primary-color);
  }
  
  .contact-form-phone{
    margin-left: 2rem;
    width: 90%;
    height: 20px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
  }

  .contact-form-phone::placeholder{
    color: #aaa;
    font-size: 1.5rem;
  }
}
              